.App {
  --primary-color:#1EA4CE;
  
  .header {
    background-color: var(--primary-color);
    display: flex;
    height: 76.64px;
    align-items: center;
  }

  .content {
    padding-bottom: 50px;
    max-width: 1300px;

    @media only screen and (min-width: 1024px) {
      margin: 50px auto 0 !important;
    }
  }

  .navi__brand {
    margin: auto;
  }

  .summary {
    cursor: pointer;
    position: relative;
    height: inherit;
    display: flex;
    background-color: #147594;
    width: 129px;
    right: 0;

    @media only screen and (min-width: 1024px) {
      right: 250px;
    }

    & p {
      display: flex;
      justify-content:center;
      align-items:end;
      color: white;
      margin: auto;
      font-weight: 600;
      letter-spacing: 0.16px;
      line-height: 18px;
    }
  }

  .cart {
    background-color: white;
    border: solid 10px var(--primary-color);
    padding: 15px;

    &__product {
      border-bottom: solid 1px #f4f4f4;
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }

    &__quantity {
    span {
      padding: 8px 10px;
      color: var(--primary-color);
      font-size: 20px;
      cursor: pointer;
    }

    &-total {
      background-color: var(--primary-color);
      color: white !important;
      font-size: 14px !important;
    }
    }

    &__total {
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      width: 30%;
      text-align: center;
      padding: 5px 10px;
      margin-top: 8px;
      margin-left: auto;
    }
  }

  .products {
    &__price {
      color: var(--primary-color);
      font-weight: 700;
    }

    &__name {
      font-weight: 600;
      color: #191919;
    }

    &__title {
      font-size: 20px;
      font-weight: 400;
      color: #6f6f6f;
      margin-bottom: 15px;
    }

    p {
      margin: 5px;
    }

    &__tab {
      margin-bottom: 12px;

      & button {
        margin-right: 5px;
        border-radius: 0;
        background-color: #F2F0FD;
        color: var(--primary-color);
        border: none;
    
        &.active {
          background-color: var(--primary-color);
          color: white;
    
          &:hover, &:active {
            background-color: var(--primary-color) !important;
            color: white !important;
          }
        }
    
        &:hover, &:active {
          background-color: #F2F0FD !important;
          color: var(--primary-color) !important;
        }
      }
    }

    &__list {
      background-color: white;
      padding: 15px;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        margin-bottom: 20px;

        button {
          width: 100%;
          height: 22px;
          background-color: var(--primary-color);
          border: none;
          border-radius: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;

          &:hover {
            background-color: var(--primary-color);
          }
        }
      }
    }

    &__img {
      border: 1px solid #F3F0FE;
      border-radius: 12px;
      text-align: center;
      padding: 18px auto;
    }

    .pagination {
      margin: 32px auto;
      font-weight: 500;
      width: 80%;
      display: flex;
      justify-content: space-around;

        li {
          margin:auto 5px !important;
        }

      .pagination__link.disabled a {
        font-size: 20px;
        text-decoration: none;
        color: #697488;
      }

      .pagination__link a {
        font-size: 20px;
        text-decoration: none;
        color: var(--primary-color);
      }

      .selected a {
        background-color: var(--primary-color);
        padding: 10px;
        color: white;
        text-decoration: none;
      }

      .next.disabled a {
        font-size: 20px;
        text-decoration: none;
        color: #697488;
      }

      .next a {
        font-size: 20px;
        text-decoration: none;
        color: var(--primary-color);
      }
    }
  }

  .filter {
    margin-top: 24px !important;
    color: #525252;

    &:first-of-type {
      margin-top: 0;
    }

    &__title {
      margin-bottom: 12px !important;
      color: #697488;
      font-size: 13px;
      font-weight: 600;
    }

    &__content {
      background-color: white;
      padding:20px;
      height: 238px;

      @media only screen and (min-width: 1024px) {
        height: auto;
      }

      &.search .search {
        padding: 10px;
        margin: auto;
        width: 100%;
        height: 40px;
        border-radius: 0;
        border: 2px solid #F3F0FE;

        &::placeholder {
          padding-left: 8px;
        }

        &:focus-visible {
          border: none;
        }
      }

      &.list {
        overflow-y: auto;
        height: 138px;
        padding: 5px;

        &::-webkit-scrollbar {
          width: 4px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #E0E0E0; 
          border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #E0E0E0; 
        }
      }

      div {
        margin: 10px 0;

        label {
          margin-left: 10px;
        }
      }
    }

    &__item {
      padding: 10px auto;
      transform: scale(1.3,1.3);

      &.input-box, textarea { background: cyan; }
    }
  }
}
